html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 5px;
  font-size: inherit;
}
.gameimage {
  max-height: 200px;
  max-width: 200px;
}
.alignedtop {
  vertical-align: top;
  padding-left: 10px;
}
.gamestats .alignedtop canvas {
  vertical-align: middle;
}
.gamestats h4 {
  margin-bottom: 2px;
  margin-top: 0;
}
#srchres-container {
  height: 100%;
  overflow: hidden;
  position: relative;
}
#difficultygauge {
  width: 160px;
  height: 160px;
}
.gameviditem {
  margin: 10px;
  width: 200px;
  height: 300px;
}
.gvihidden {
  display: none;
}
.ui-layout-pane-east {
  overflow: hidden !important;
}
#gamestat-related-block .hideuntilhovered {
  display: none;
  position: absolute;
}
#gamestat-related-block:hover .hideuntilhovered {
  display: block;
  position: absolute;
}
.gamestat-related-item-parent .gamestat-related-itemsblock {
  display: none;
}
.gamestat-related-item-parent:hover .gamestat-related-itemsblock {
  display: block;
}
.gamestat-related-itemsblock {
  position: absolute;
  left: 100%;
  top: 0;
  width: 200px;
}
.gamestat-related-item-parent {
  position: relative;
  max-width: 200px;
}
#gamestat-related-list li {
  list-style: none;
  background-color: #FFFFFF;
  padding-left: 5px;
  padding-right: 5px;
}
#gamestat-related-list li:hover {
  background-color: #eeeeee;
  border: 1px;
  border-color: #FFFFFF;
}
#gamestat-related {
  padding: 5px;
  top: -5px;
  position: relative;
}
a {
  cursor: pointer;
}
.gamenavarrows {
  background-color: #eeeeee;
  display: inline;
}
.bbgg-interesting {
  background-color: #eeeeee;
}
.hideuntilhovered {
  z-index: 100;
}
#gamestat-minage-block {
  position: relative;
}
#gamestat-minage-block:hover .hideuntilhovered {
  display: block;
  position: absolute;
}
#gamestat-minage-block .hideuntilhovered {
  display: none;
  position: absolute;
  left: 150px;
}
#gamestat-numplayers-block,
#gamestat-rating-block,
#gamestat-difficulty-block {
  position: relative;
}
#gamestat-numplayers-block:hover .hideuntilhovered {
  display: block;
  position: absolute;
}
#gamestat-numplayers-block .hideuntilhovered {
  display: none;
  position: absolute;
  left: 150px;
}
#gamestat-rating-block:hover .hideuntilhovered {
  display: block;
  position: absolute;
}
#gamestat-rating-block .hideuntilhovered {
  display: none;
  position: absolute;
  left: 150px;
}
#gamestat-difficulty-block:hover .hideuntilhovered {
  display: block;
  position: absolute;
}
#gamestat-difficulty-block .hideuntilhovered {
  display: none;
  position: absolute;
  left: 150px;
}
.chartdisplay {
  display: block;
}
