html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 5;
  font-size: inherit;
}

.gamename {
//  background-color: #55ff00;
}

.gameimage {
  max-height: 200px;
  max-width: 200px;
}

.alignedtop {
  vertical-align: top;
}

.gamestats {
  .alignedtop canvas {
    vertical-align: middle;
  }
  h4 {
    margin-bottom: 2px;
    margin-top: 0;
//    font-size: 20px;
//    font-family:'arial',sans-serif;
//    padding: 5px;
//    font-weight: bold;
//    text-align: center;
  }
}
// With jquery.layout
#srchres-container {
  height: 100%;
  overflow: hidden;
  position: relative;
}

#difficultygauge {
  width: 160px;
  height: 160px;
}
.gameviditem{
  margin: 20px;
  width: 200px;
  height: 300px;
}
.gamevidtitle {
//  display: inline;
}
#srchreslist-container  {
//  overflow-y: auto;
//  overflow-x: hidden;
//  position: absolute;
//  padding-left: 4px;
//  top: 40px;
//  z-index: 300;
//  height: 100%;
//  width: 100%;
}

#searchresults {
//  overflow-y: auto;
//  overflow-x: hidden;
//  position: absolute;
//  z-index: 200;
//  list-style-position: inside;
//  left: -30px;
}

#searchres-header {
//  overflow: hidden;
//  position: absolute;
//  width: inherit;
//  z-index: 250;
//  background-color: #F5F6F7;
//  display: block;
//  width: 100%;
}


.ui-layout-pane-east {
  overflow:		hidden !important;
}
/*
.ui-layout-container {
//  font-size: inherit  !important;
}
*/

/*  Relevant for w2ui floating button at top
#srchres-container {
  height: 100%;
  overflow: hidden;
  position: relative;
}

#srchreslist-container  {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  padding-left: 4px;
  top: 40px;
  z-index: 300;
  height: 100%;
  width: 100%;
}

#searchresults {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  z-index: 200;
  list-style-position: inside;
  left: -30px;
}

#searchres-header {
  overflow: hidden;
  position: absolute;
  width: inherit;
  z-index: 250;
  background-color: #F5F6F7;
  display: block;
  width: 100%;
}
*/
